<!DOCTYPE html>
<html ng-app>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("metatags", required: false)
    <title>@ViewBag.Title</title>
    <!-- GOOGLE FONTS : begin -->
    <link href="http://fonts.googleapis.com/css?family=Alegreya+Sans:300,400,700,400italic,700italic,300italic|Roboto+Condensed:700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <!-- GOOGLE FONTS : end -->
    @Styles.Render("~/Content/css")

    <!--[if lte IE 8]>
            <link rel="stylesheet" type="text/css" href="library/css/oldie.css">
            <script src="library/js/respond.min.js" type="text/javascript"></script>
        <![endif]-->
        @Scripts.Render("~/bundles/modernizr")
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48537904-1', 'alkireconstruction.net');
        ga('send', 'pageview');

    </script>
</head>
<body class="enable-body-parallax enable-inview-animations enable-fixed-header">
    <div class="body-inner">

        <!-- HEADER : begin -->
        <header id="header">
            <div class="header-inner">
                <div class="header-content">
                    <div class="wrapper">

                        <!-- HEADER BRANDING : begin -->
                        <div class="header-branding">
                            <a href="/">
                                <img src="/images/logo.png" width="395" height="80" data-hires="/images/logo.png" alt="Alkire Construction">
                            </a>
                        </div>
                        <!-- HEADER BRANDING : end -->
                        <!-- HEADER NAVBAR TOGGLE : begin -->
                        <button class="header-navbar-toggle button"><i class="ico fa fa-bars"></i></button>
                        <!-- HEADER NAVBAR TOGGLE : end -->
                        <!-- HEADER NAVBAR : begin -->
                        <div class="header-navbar">

                            <!-- HEADER MENU : begin -->
                            <nav class="header-menu">
                                <ul class="menu-items">
                                    <li id="nav-home">
                                        <a href="/" class="home-link"><span><i class="ico fa fa-home"></i> <span>Home</span></span></a>
                                    </li>
                                    <li id="nav-services">
                                        <a href="/Services"><span>Services</span></a>
                                        <ul class="sub-menu">
                                            <li><a href="/Services/Industrial">Industrial</a></li>
                                            <li><a href="/Services/Commercial">Commercial</a></li>
                                            <li><a href="/Services/Residential">Residential</a></li>
                                            <li><a href="/Services/Building-Maintenance">Building Maintenance</a></li>
                                        </ul>
                                    </li>
                                    <li id="nav-projects">
                                        <a href="/Projects"><span>Projects</span></a>
                                    </li>
                                    <li id="nav-about">
                                        <a href="/About"><span>About</span></a>
                                    </li>
                                    <li id="nav-blog">
                                        <a href="/Blog"><span>Blog</span></a>
                                    </li>
                                    <li id="nav-careers">
                                        <a href="/Careers"><span>Careers</span></a>
                                    </li>
                                    <li id="nav-contact">
                                        <a href="/Contact"><span>Contact</span></a>
                                    </li>
                                </ul>
                            </nav>
                            <!-- HEADER MENU : end -->

                        </div>
                        <!-- HEADER NAVBAR : end -->

                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER : end -->
        <!-- MAIN CONTENT : begin -->
        <div id="main-content" class="no-top-padding">
            <!-- CORE : begin -->
            <div id="core">
                @RenderBody()
            </div>
            <!-- CORE : end -->
            </div>
        <!-- MAIN CONTENT : end -->
        <!-- BOTTOM PANEL : begin -->
        <aside id="bottom-panel">

            <!-- BOTTOM PANEL CONNECT : begin -->
            <div class="bottom-panel-connect">
                <div class="bottom-panel-connect-inner">
                    <div class="wrapper">
                        <div class="bottom-panel-connect-row row">
                            <div class="col-sm-6">
                                <!-- CLIENT TESTIMONIALS : begin -->
                                <div class="client-testimonials color-light">

                                    <!-- CLIENT PORTRAITS : begin -->
                                    <ul class="client-portraits" data-inview-animation="fadeInDown">
                                        <li class="active"><img src="http://1.gravatar.com/avatar/71c5ed85a3667b626e0eaeab32fba2e4" alt="Danny Schreiber, Shop Owner"></li>
                                        <li><img src="http://www.gravatar.com/avatar/f942c8409470e684f3f8002c6e50d286" alt="Zain Joyce, Home Owner"></li>
                                        <li><img src="/images/testimonials/drrhoades.png" alt="Pat Rhoades, M.D."></li>
                                    </ul>
                                    <!-- CLIENT PORTRAITS : end -->
                                    <br /><br /><br />
                                    <!-- TESTIMONIAL LIST : begin -->
                                    <div class="testimonial-list paginated">
                                        <div>
                                            <blockquote>
                                                <p>
                                                    Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.
                                                    Quisque rutrum. Aenean imperdiet.
                                                </p>
                                                <footer>
                                                    <cite>Danny Schreiber, International Secret Agent</cite>
                                                </footer>
                                            </blockquote>
                                        </div>
                                        <div>
                                            <blockquote>
                                                <p>Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero.</p>
                                                <footer>
                                                    <cite>Zain Joyce, Home Owner</cite>
                                                </footer>
                                            </blockquote>
                                        </div>
                                        <div>
                                            <blockquote>
                                                <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                                                <footer>
                                                    <cite>Pat Rhoades, M.D.</cite>
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                    <!-- TESTIMONIAL LIST : end -->

                                </div>
                                <!-- CLIENT TESTIMONIALS  : end -->


                            </div>
                            <div class="col-sm-6">

                                <!-- SUBSCRIBE FORM : begin -->
                                <div class="connect-widget subscribe-form">
                                    <h3 class="connect-widget-title">
                                        <i class="ico fa fa-envelope-o"></i> Subscribe To Our Newsletter
                                    </h3>
                                    <p><strong>Stay Connected!</strong> Join our mailing list to stay up to speed with our projects and <strong>community outreach</strong>. </p>

                                        <p id="subscribeMsg" style="display: none;" class="alert-message success">
                                            <i class="ico fa fa-check-circle"></i>
                                            
                                        </p>
                                        <div class="form-fields">
                                            <p>
                                                <input class="subscribe-form-input required email placeholder" type="text" data-placeholder="Enter your email please." value="Enter your email please." name="EMAIL" id="field_subscribe_email">
                                                <button class="newslettersub button color-3 submit" data-loading-label="SENDING..." title="Subscribe">SUBSCRIBE</button>
                                            </p>
                                        </div>
                                    
                                </div>
                                <!-- SUBSCRIBE FORM : end -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BOTTOM PANEL CONNECT : end -->
            <!-- BOTTOM PANEL WIDGETS : begin -->
            <div class="bottom-panel-widgets paginated" data-interval="0" data-items="3" data-items-desktop="3" data-items-desktop-small="2" data-items-tablet="1" data-items-phone="1">
                <div class="wrapper">
                    <div class="widget-list">

                        <!-- CONTACT WIDGET : begin -->
                        <div class="widget contact-widget">
                            <h3 class="widget-title">Contact & Links</h3>
                            <div class="widget-content">
                                <div class="widget-content-inner">
                                    <div class="row">
                                        <div class="col-xs-6">

                                            <!-- CONTACT INFO : begin -->
                                            <p>
                                                <strong>Alkire Construction</strong><br>
                                                1202 College ct<br>
                                                Modesto, CA 95350
                                            </p>
                                            <ul class="icon-list">
                                                <li><i class="ico fa fa-phone"></i> (209) 531-1666</li>
                                                <li><i class="ico fa fa-envelope"></i> <a href="#">hi@alkirecon.net</a></li>
                                            </ul>
                                            <!-- CONTACT INFO : end -->

                                        </div>
                                        <div class="col-xs-6">

                                            <!-- LINKS : begin -->
                                            <ul class="icon-list">
                                                <li><i class="ico fa fa-angle-right"></i> <a href="/Services">Services</a></li>
                                                <li><i class="ico fa fa-angle-right"></i> <a href="/Projects">Projects</a></li>
                                                <li><i class="ico fa fa-angle-right"></i> <a href="/About">About</a></li>
                                                <li><i class="ico fa fa-angle-right"></i> <a href="/Blog">Blog</a></li>
                                                <li><i class="ico fa fa-angle-right"></i> <a href="/Careers">Careers</a></li>
                                                <li><i class="ico fa fa-angle-right"></i> <a href="/Contact">Contact</a></li>
                                            </ul>
                                            <!-- LINKS : end -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- CONTACT WIDGET : end -->
                        <!-- DRIBBBLE WIDGET : begin -->
                        <div class="widget images-feed-widget">
                            <img src="/images/logoFooter.png" alt="Logo" />
                        </div>
                        <!-- DRIBBBLE WIDGET : end -->
                        <!-- POSTS WIDGET : begin -->
                        @Html.Partial("_LatestPosts")
                        <!-- POSTS WIDGET : end -->
                        <!-- TEXT WIDGET : begin -->
                        <div class="widget text-widget">
                            <div id='hzroot6259053' style='width:380px;text-align:center;font-size:12px;padding:0;border:0;margin:0;'>
                                <div style='font-size:18px;margin-bottom:3px;'>Today's Top Houzz Ideabooks</div><div style='padding:0;margin:0;border:0;margin-bottom:3px;'>
                                    <iframe data-hzvt='MjAxNDAxMzE6MTg0NTpidXR0b25zQW5kQmFkZ2Vz' name='HouzzWidget8635960' id='HouzzWidget8635960' border=0 frameborder='0' scrolling=NO style='border:0 none;width:380px;height:310px;' src="http://www.houzz.com/jsGalleryWidget/featured/new_window=yes/title_on=yes/width=380"></iframe>
                                    <style type="text/css">
                                        #hzfooter6259053 {
                                            overflow: hidden !important;
                                            transition: height 0.8s ease 0.5s;
                                            -webkit-transition: height 0.8s ease 0.5s;
                                        }

                                            #hzfooter6259053:hover {
                                                overflow-y: auto !important;
                                                height: 51px !important;
                                            }
                                    </style><div id="hzfooter6259053" style="font-family:Helvetica,arial,sans-serif;height:34px;line-height:17px;position:relative;overflow:auto"><div style="width:350px;position:absolute;left:15px;"><a href="http://www.houzz.com/photos/kitchen">Kitchen ideas</a>, <a href="http://www.houzz.com/photos/bath">bathroom ideas</a>, and more &or;<br /><br />From designer <a href='http://www.houzz.com/photos/chairs'>lounge chairs</a> and <a href='http://www.houzz.com/photos/desks'>writing desks</a> to the perfect <a href='http://www.houzz.com/photos/bulletin-board'>message board</a> and <a href='http://www.houzz.com/credenza'>credenza</a>, create your dream home office.<br />Browse inspiring <a href='http://www.houzz.com/photos/bedroom'>bedroom design</a>, then outfit your own <a href='http://www.houzz.com/photos/beds'>bed</a>, convertible <a href='http://www.houzz.com/photos/sofa-beds'>sofa bed</a> or<a href='http://www.houzz.com/daybed'>daybed</a> with designer <a href='http://www.houzz.com/photos/bedding'>bedding</a> and decorative <a href='http://www.houzz.com/photos/pillows-and-throws'>pillows</a>.</div></div>
                                </div>
                            </div>
                        </div>
                        <!-- TEXT WIDGET : end -->
                    </div>
                </div>
            </div>
            <!-- BOTTOM PANEL WIDGETS : end -->
            <!-- BACK TO TOP BUTTON : begin -->
            <button id="back-to-top"><i class="ico fa fa-arrow-up"></i></button>
            <!-- BACK TO TOP BUTTON : end -->

        </aside>
        <!-- BOTTOM PANEL : end -->
            <!-- FOOTER : begin -->
            <footer id="footer">
                <div class="footer-inner">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-md-6">

                                <!-- FOOTER TEXT : begin -->
                                <p class="footer-text">Site by:  <a href="http://www.ravenartmedia.com">Raven Art Media</a> </p>
                                <!-- FOOTER TEXT : end -->

                            </div>
                            <div class="col-md-6">

                                <!-- SOCIAL ICONS : begin -->
                                <ul class="social-icons">
                                    <li><a href="https://twitter.com/alkireconstruction" title="Twitter"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
                                    <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
                                    <li><a href="#" title="Pinterest"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>
                                    <li><a href="#" title="Google+"><i class="fa fa-google-plus"></i><span>Google+</span></a></li>
                                </ul>
                                <!-- SOCIAL ICONS : end -->

                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- FOOTER : end -->
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/alkire")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
            <script type="text/javascript">
                setCurrentMenuItem("@Model.NavView.SelectedMenuItem");

                function setCurrentMenuItem(item) {
                    $(".menu-items li").each(function () {
                        $(this).removeClass("active");
                    });

                    $("#" + item).addClass("active");
                }

                $(".newslettersub").on("click", function () {
                    $("#subscribeMsg strong").remove();
                    $("#subscribeMsg span").remove();
                    var s = {
                        email: $("#field_subscribe_email").val(),
                        id:0,
                        firstname: "",
                        lastname: "",
                        phone:""
                    }

                    $.ajax({
                        url: '@System.Configuration.ConfigurationManager.AppSettings["BaseUrl"]' + '/Subscriber/SubscribeToNewsletter',
                        type: 'POST',
                        data: JSON.stringify({ subscriber: s }),
                        dataType: "json",
                        contentType: "application/json;charset=utf-8",
                        success: function (data) {
                            if (data.Status == 'success') {
                                $("#subscribeMsg")
                                    .removeAttr('style')
                                    .append("<strong>Form sent successfully! </strong><span>" + data.Message + "</span>");
                            } else {
                                $("#subscribeMsg")
                                .removeAttr('style')
                                .removeClass('alert-message success')
                                .addClass('alert-message warning')
                                .append("<strong>What happened!? </strong><span>" + data.Message + "</span>");
                            }

                        },
                        error: function (x, y, z) {
                            $("#subscribeMsg")
                                .removeAttr('style')
                                .removeClass('alert-message success')
                                .addClass('alert-message warning')
                                .append("<strong>What happened!? </strong><span>" + data.Message + "</span>");
                        }
                    });
                });

            </script>
        </div>
</body>
</html>
