<!DOCTYPE html>
<html ng-app="">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/dropzone")
    @Scripts.Render("~/bundles/tagit")
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Alkire Admin</a>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li id="nav-home" class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                        <li id="nav-banners">@Html.ActionLink("Banners", "Index", "Banners")</li>
                        <li id="nav-portfolio">@Html.ActionLink("Portfolio", "Index", "Portfolio")</li>
                        <li id="nav-blog">@Html.ActionLink("Blog", "Index", "Blog")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="container body-content">-->
        @RenderBody()
        
        <footer>
        </footer>
    <!--</div>-->
    <script type="text/javascript">
                setCurrentMenuItem("@Model.NavView.SelectedMenuItem");

                function setCurrentMenuItem(item) {
                    $(".navbar-nav li").each(function () {
                        $(this).removeClass("active");
                    });

                    $("#" + item).addClass("active");
                }
    </script>
    
</body>
</html>
