@using RAM.Core.Domain.Blog;
@model RAM.Controllers.ViewModels.HomeView

<!-- PAGE HEADING : begin -->
<header class="page-heading">
    <h1 class="heading-title">Blog</h1>
    <ul class="heading-breadcrumbs">
        <li><a href="/">Home</a> /</li>
        <li>Blog</li>
    </ul>
</header>
<!-- PAGE HEADING : end -->
<!-- WRAPPER : begin -->
<div class="wrapper">
    <div class="row">
        <div class="col-md-9">

            <!-- MAIN CONTENT : begin -->
            <div id="main-content">

                <!-- BLOG LIST : begin -->
                <section class="blog-list">
                    @foreach (var post in Model.Posts)
                    {
                        <!-- BLOG POST 1 : begin -->
                    <article class="blog-post">

                        <!-- POST HEADER : begin -->
                        <header class="post-header">
                            <h2 class="post-title"><a href="/blog/@post.Category.Name.Replace(" ", "-")/@post.Title.Replace(" ", "-")">@post.Title</a></h2>
                            <ul class="post-info">
                                <li><i class="ico fa fa-clock-o"></i> @post.DatePosted.ToShortDateString()</li>
                                <li><i class="ico fa fa-user"></i><a href="#">@post.EnteredByRef.FirstName @post.EnteredByRef.LastName</a></li>
                                <li>
                                    <i class="ico fa fa-folder"></i>
                                    @foreach (var t in post.Tags)
                                    {
                                        <a href="#">@t.TagRef.Name, </a> 
                                    }
                                </li>
                            </ul>

                        </header>
                        <!-- POST HEADER : end -->
                        <!-- POST CONTENT : begin -->
                        <div class="post-content">
                            <p class="post-featured-image">
                                <a href="/blog/@post.Category.Name.Replace(" ", "-")/@post.Title.Replace(" ", "-")"><img src="@post.ImagePath" alt="@post.Title"></a>
                            </p>
                            @*<p class="post-lead">Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.</p>*@
                            <p>@post.PostPreview</p>
                        </div>
                        <!-- POST CONTENT : end -->
                        <!-- POST FOOTER : begin -->
                        <footer class="post-footer">
                            <p><a href="/blog/@post.Category.Name.Replace(" ", "-")/@post.Title.Replace(" ", "-")" class="button size-medium">Read More</a></p>
                        </footer>
                        <!-- POST FOOTER : end -->

                    </article>
                    <!-- BLOG POST 1 : end -->
                    <!-- CONTENT DIVIDER : begin -->
                    <div class="content-divider size-small space-large has-icon"><hr><i class="ico fa fa-star-o"></i></div>
                    <!-- CONTENT DIVIDER : end -->
                    }
                </section>



                <!-- BLOG LIST : end -->
                <!-- CONTENT DIVIDER : begin -->
                <div class="content-divider space-medium color-transparent"><hr></div>
                <!-- CONTENT DIVIDER : end -->
                <!-- PAGINATION : begin -->
                <ul class="pagination textalign-left">
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
                <!-- PAGINATION : end -->

            </div>
            <!-- MAIN CONTENT : end -->

        </div>
       @Html.Partial("Sidebar")
    </div>
</div>
<!-- WRAPPER : end -->