@using RAM.Core.Domain.Blog;
@model RAM.Controllers.ViewModels.HomeView

@{
    ViewBag.Title = "Alkire Construction | " + Model.SelectedPost.Title;
}
@section metatags{
    <meta name="keywords" content="@Model.SelectedPost.SEOKeywords" />
    <meta name="description" content="@Model.SelectedPost.SEODescription" />
}

<!-- PAGE HEADING : begin -->
<header class="page-heading">
    <h1 class='heading-title'>@Model.SelectedPost.Title</h1>
    <ul class="heading-breadcrumbs">
        <li><a href="/">Home</a> /</li>
        <li><a href="/Blog">Blog</a> /</li>
        <li>@Model.SelectedPost.Title</li>
    </ul>
</header>

<section class='section-wrapper post-w'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-9'>
                <div class='single-post-w'>
                    
                    <p class='post-info'>
                        <span class='info-item'>
                            by
                            <a href="#">@Model.SelectedPost.EnteredByRef.FirstName @Model.SelectedPost.EnteredByRef.LastName</a>
                        </span>
                        <span class='info-item'>@Model.SelectedPost.DatePosted.ToString("MMM dd, yyyy", System.Globalization.CultureInfo.InvariantCulture)</span>
                        @*<span class='info-item'>
                        <a href="#">3 Comments</a>
                    </span>*@
                    </p>
                    <div class='single-post-image bottom decor-image'>
                        <img alt="Image-placeholder-1" src="@Model.SelectedPost.ImagePath" />
                    </div>
                    <div class='post-content'>
                        @Html.Raw(@Model.SelectedPost.Post)
                    </div>
                </div>
            </div>
            @Html.Action("Sidebar", "Blog")
        </div>
    </div>
</section>

