@using RAM.Core.Domain.Project;
@using RAM.Controllers.ViewModels;

@model HomeView

@{
    ViewBag.Title = Model.SelectedProject.Title + " - Alkire Construction";
}
@section metatags{
    <meta name="keywords" content="@Model.SelectedProject.Title, @Enum.GetName(typeof(ProjectType), Model.SelectedProject.Category) Construction" />
    <meta name="description" content="@Model.SelectedProject.Description" />
}

<!-- PAGE HEADING : begin -->
<header class="page-heading">
    <h1 class="heading-title">@Model.SelectedProject.Title</h1>
    <ul class="heading-breadcrumbs">
        <li><a href="index.html">Home</a> /</li>
        <li><a href="/Projects">Projects</a> /</li>
        <li>@Model.SelectedProject.Title</li>
    </ul>
</header>
<!-- PAGE HEADING : end -->
<!-- MAIN CONTENT : begin -->
<div id="main-content">
    <div class="wrapper">

        <!-- PORTFOLIO DETAIL : begin -->
        <section class="portfolio-detail project-media-on-left">

            <div class="row">
                <div class="col-sm-8">

                    <!-- PROJECT MEDIA : begin -->
                    <div class="project-media">
                        <div class="project-images layout-slider">
                            @foreach (var item in Model.SelectedProject.Images)
                            { 
                                <div>
                                    <a data-lightbox-group="project" class="lightbox" href="@item.ImagePath">
                                        <img alt="@item.AltText" src="@item.ImagePath">
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- PROJECT MEDIA : end -->

                </div>
                <div class="col-sm-4">

                    <!-- PROJECT DATA : begin -->
                    <div class="project-data">

                        <!-- PROJECT INFO : begin -->
                        <dl class="project-info">
                            <dt>Project</dt>
                            <dd>@Model.SelectedProject.Title</dd>
                            <dt>Category</dt>
                            <dd>@Enum.GetName(typeof(ProjectType), Model.SelectedProject.Category)</dd>
                            <dt>Date</dt>
                            <dd>@Model.SelectedProject.ProjectDate.ToShortDateString()</dd>
                        </dl>
                        <!-- PROJECT INFO : end -->
                        <!-- PROJECT DESCRIPTION : begin -->
                        <div class="project-description">
                            <p>@Model.SelectedProject.Description</p>
                        </div>
                        <!-- PROJECT DESCRIPTION : end -->
                        <!-- PROJECT FOLDERS : begin -->
                        @*<ul class="project-folders">
                            <li>
                                <i class="ico fa fa-folder"></i>
                                <a href="#">Other</a>,
                                <a href="#">Illustration</a>
                            </li>
                            <li>
                                <i class="ico fa fa-tag"></i>
                                <a href="#">four horsemen</a>,
                                <a href="#">app</a>
                            </li>
                        </ul>*@
                        <!-- PROJECT FOLDERS : end -->

                    </div>
                    <!-- PROJECT DATA : end -->

                </div>
            </div>

        </section>
        <!-- PORTFOLIO DETAIL : end -->
        <!-- CONTENT DIVIDER : begin -->
        <div class="content-divider size-small space-large has-icon"><hr><i class="ico fa fa-star-o"></i></div>
        <!-- CONTENT DIVIDER : end -->
        <!-- RELATED PROJECTS : begin -->
        <section class="related-projects">

            <!-- SECTION HEADING : begin -->
            <header class="section-heading">
                <h2 class="heading-title">Related Projects</h2>
            </header>
            <!-- SECTION HEADING : end -->

            <div class="portfolio-gallery">
                <div class="gallery-list row">

                    @foreach (var item in Model.Projects)
{
    <div class="col-sm-3" style="margin-bottom: 15px;">
        <div class="gallery-item">
            <a class="item-thumb" href="/projects/@Enum.GetName(typeof(ProjectType),item.Category)/@item.Title.Replace(" ", "-")"><img src="@item.DefaultImagePath" alt=""></a>
            <div class="item-info">
                <h4 class="item-title"><a href="/projects/@Enum.GetName(typeof(ProjectType),item.Category)/@item.Title.Replace(" ", "-")">@item.Title.Replace(" ", "-")</a></h4>
                <div class="item-tools">
                    <a class="lightbox" href="@item.DefaultImagePath" data-lightbox-group="related-projects"><i class="fa fa-expand"></i></a>
                </div>
            </div>
        </div>
    </div>
}
                    

                </div>
            </div>
        </section>
        <!-- RELATED PROJECTS : end -->

    </div>
</div>
<!-- MAIN CONTENT : end -->

