@model RAM.Admin.Controllers.ViewModels.HomeView


<table class="table table-hover">
    <thead>
        <tr>
            <th class="col-sm-7">
                Title
            </th>
            <th class="col-sm-1">
                Category
            </th>
            <th class="col-sm-1">
                Active
            </th>
            <th class="col-sm-1">
                Date
            </th>
            <th class="col-sm-2">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var blog in Model.Blogs)
        { 
            <tr>
                <td>
                    <span id="title_@blog.ID">
                        @blog.Title
                    </span>
                </td>
                <td>
                    <span id="category_@blog.ID">
                        @blog.Category.Name
                    </span>
                </td>
                <td>
                    <span id="status_@blog.ID">
                        @(blog.IsActive == true? "Active" : "Inactive")
                    </span>
                </td>
                <td>
                    <span id="postdate_@blog.ID">
                        @blog.DatePosted.ToShortDateString()
                    </span>
                </td>
                <td>
                    <a id="blogEdit_@blog.ID" href="/Blog/Post/@blog.ID" class="btn btn-info" role="button" data-id="@blog.ID" data-category="@blog.Category.ID">Edit</a>
                    <button class="deletePost btn btn-danger" data-id="@blog.ID" type="button">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
